
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-controller="StudentController">
    {{message}}
</div>

@section scripts
{
    <script src="~/Scripts/App/student/student-controller.js"></script>
}

